*.pyc
*.pyo
/addresses.db
.idea/
python
/addresses-BTC.db
venv/
HashCheck.txt
bitcoinlib/.coveragerc
*.aes.json
test.txt
tokenlist.txt
seeds.txt
btcrecover-tokens-auto.txt
site/
possible_passwords.log
passwordlist.txt
output.log
private.pem
